@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font{

font-family: 'Roboto', sans-serif;
}
.extra{
  font-family: 'Rancho', cursive;
}

 a.active{
  color: white;
  background-color: #3c6281;
  
}
